body{
	margin: 0px;
	 font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#mainNav {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #2C3E50; 
}

#mainNav > .navbar-brand {
  display: inline-block;
  font-size: 33px;
  color: white; 
  padding: 40px;
  height: 30px;
}

.bar{
	float: right;

}
.nav-bar{
	display: inline-block;
	list-style-type: none;
	color: white;
	margin-right: 30px;
	margin-top: 30px;
	padding-right: 10px;
	font-size: 17px;
	}

header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  background: #18BC9C; 
}
  
header.masthead img {
    display: block;
    margin: 0 auto 20px; 
}

header.masthead .name {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  display: block;
  text-transform: uppercase; 
  padding-bottom: 20px;

}
  header.masthead .skills {
    font-size: 25px;
    font-weight: 300; 
    padding-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
   }

.star-one:after, .star-one:before {
	display: inline-block;
	width: 100px;
	height: 4px;
	color: white;
	content: "";
	background-color: white; 
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.star-tw:after, .star-tw:before {
	display: inline-block;
	width: 100px;
	height: 4px;
	color: white;
	content: "";
	background-color: black; 
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#portfolio-title {
	text-align: center;
	font-size: 30px;
}

#portfolio {
	text-align: center;
}

#portfolio > div{
	display: inline-block;
}

#portfolio > div > a > img {
	width: 300px;
	padding: 10px;
}

#about {
	text-align: center;
	background-color: #18BC9C;
	color: white;
	height: 550px;
	padding-top: 5px;
}

.about-text {
	text-align: center;
	font-size: 50px;
	margin-bottom: 0px;
	padding-top: 40px;
}


.text-left{
	display: inline-block;
	text-align: left;
	font-size: 20px;
	padding: 20px;
	width: 300px;
}

.text-right{
	display: inline-block;
	text-align: left;
	font-size: 20px;
	padding: 20px;
	width: 300px;
}

.download{
	font-size: 20px;
	border: 2px solid white;
	border-radius: 5px;
	height: 30px;
	width: 230px;
	padding: 10px;
	margin-left: 40%;
}


#contact{
	text-align: center;
	color: black;
	font-size: 30px;
	text-transform: uppercase;
	height: 700px;
}


.form {
	display: block;
	padding-bottom: 1px;
	border-bottom: 2px solid #eeeeee; 
	width: 350px;
	margin-left: 400px;

}

.form input,
.form textarea {
    font-size: 20px;
    position: relative;
    border: none;

}
.form label {
    font-size: 5px;
    display: block;
    opacity: 0; 
    padding: 30px;
}


.btn-success {
  	font-weight: 500;
  	color: white;
  	border-color: #18BC9C;
  	border-radius: 5px;
    border: 0px solid white;	
  	background-color: #18BC9C; 
	font-size: 25px;
	margin-top: 40px;
	padding: 10px 20px; 
	float: left;
	margin-left: 450px;
}

footer { 
	display: inline-block;
	text-align: center; 
    background-color: #2c3e50; 
	width: 100%;
	}

 .around{
 	color: white;
 	display: inline-block;
 	width: 30%;
 	padding: 10px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 }

.list-inline{
	display: inline;
	list-style: none;
	width: 300px;
}

.btn-outline {
	display: inline-block;
	font-size: 35px;
	color: white;
	border: solid 2px white;
	background: transparent; 
}

.title-footer{
	font-size: 30px;
	text-transform: uppercase;
}


.btn-social {
	display: inline-block;
	border: 2.2px solid white;
	border-radius: 50%;
	padding:10px;
	margin-right: 10px;
}

.footer-copy{
	color: white;
	background-color: black;
	width: 100%;
	height: 70px;
}

.copy{
	padding: 30px;
}
